.landing-container {
    height: 100%;
}

.hero-image {
    height: 100%;
    background-image: linear-gradient(rgba(35, 55, 107, 0.5), #37679F), url('../pics/logos/ANDLogoBlueWide3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.hero-text {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-right: 35%;
    transform: translateY(-50px);
    perspective: 1000px;
}

.hero-title {
    font-weight: 200;
    font-size: 2.5em;
    padding: 1%;
    margin: 5% 1% 1% 1%;
    opacity: 0;
    transition: opacity 0.5s;
}

.hero-title-shadow {
    color: rgb(35, 55, 107);
    font-weight: 200;
    font-size: 2.3em;
    transform: rotateX(70deg) translateY(-25px);
    line-height: .1;
    filter: blur(8px);
    opacity: 0;
}

.hero-p {
    font-weight: 100;
    font-size: 1.2em;
    padding: 1%;
    margin: 3% 1% 1% 1%;
    opacity: 0;
    transition: opacity 0.5s;
}

.hero-p-shadow {
    color: rgb(35, 55, 107);
    font-weight: 100;
    font-size: 1.2em;
    transform: rotateX(70deg) translateY(-25px);
    line-height: .1;
    filter: blur(8px);
    opacity: 0;
}

.hero-butt {
    color: white;
    text-decoration: none;
    padding: 1.5%;
    margin: 3% 1% 1% 1%;
    opacity: 0;
    transition: opacity 0.5s;
}

.hero-butt-shadow {
    color: rgb(35, 55, 107);
    font-weight: 100;
    font-size: 1.2em;
    transform: rotateX(70deg) translateY(-25px) translateX(-5px);
    line-height: .1;
    filter: blur(8px);
    opacity: 0;
}

.hero-butt:hover {
    background-color: rgb(35, 55, 107);
    border-radius: 2%;
}

@media (max-width: 1100px) {
    .hero-image {
        background-image: linear-gradient(rgba(35, 55, 107, 0.5), #37679F), url('../pics/logos/ANDLogoMedBlue.jpg');
    }

    .hero-text {
        padding-right: 0%;
    }

}

@media (max-width: 600px) {
    .hero-image {
        background-image: linear-gradient(rgba(35, 55, 107, 0.5), #37679F), url('../pics/logos/ANDLogoSmallBlue.jpg');
    }

    .hero-title {
        font-size: 2em;
    }

    .hero-title-shadow {
        font-size: 1.8em;
    }

}

@media (max-width: 450px) {
    .hero-title {
        font-size: 2em;
        max-width: 80%;
        text-align: center;
        transform: translateY(-30px) translateX(5px);
    }

    .hero-title-shadow {
        display: none;
    }

    .hero-p {
        font-size: .9em;
        transform: translateY(20px);
    }

    .hero-p-shadow {
        display: none;
    }

    .hero-butt {
        transform: translateY(80px) translateX(5px);
    }

    .hero-butt-shadow {
        display: none;
    }

}

@media (max-width: 350px) {
    .hero-title {
        font-size: 1.5em;
    }

    .hero-p {
        font-size: .7em;
        margin: 0px 20px 0px 20px;
    }

}

@media (max-height: 480px) {
    .hero-title {
        margin-top: 100px;
    }

}