#projects {
    opacity: 0;
}

.projects-head {
    text-align: center;
    font-size: 2em;
    margin: 100px 0px 100px 0px;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-bottom: 150px;
}

.carousel-container {
    display: flex;
    align-items: center;
    min-height: 475px;
    width: 70%;
    min-width: 280px;
    background-color: #292b2c;
    box-shadow: inset 0px 0px 35px black;
    overflow: hidden;
}

.card {
    display: flex;
    flex-direction: column;
    height: 350px;
    max-width: 250px;
    min-width: 250px;
    margin: 0px 50px;
    background: white;
    box-shadow: 0px 0px 25px black;
    transition: transform 0.2s;
}

.card-img {
    background: rgb(44, 108, 135);
    min-height: 140px;
}

.card-title {
    font-size: .8em;
    height: 100px;
    padding: 15px 10px 10px 20px;
    margin-bottom: -20px;
}

.card-text {
    height: 100%;
    padding: 25px 20px 10px 20px;
}

.card-btn {
    border: none;
    color: black;
    text-decoration: none;
    text-align: start;
    padding: 20px;
    transition: font-size .2s;
}

.card-mover-btn {
    position: absolute;
}

.prev-cont {
    margin-right: 73.7%
}

.next-cont {
    margin-left: 73.7%;
}

.btn {
    font-size: 50px;
    color: white;
    border: none;
    background: rgba(0, 0, 0, 0.5);
}

.btn:hover {
    background-color: rgba(101, 101, 101, 0.722);
}

.card-btn:hover {
    font-size: 1.2em;
}

@media (max-width: 450px) {
    .card:nth-child(1) {
        margin: 0px 50px 0px 15px;
    }

}
