.break-image {
    transform: translateY(-1px);
    background-image: url(../pics/page_break.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.skill-head {
    color: white;
    font-weight: 200;
    font-size: 2em;
    text-align: center;
    padding-top: 5%;
    margin-bottom: 3%;
}

.skill-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.skill-block {
    color: white;
    flex: 400px;
    max-width: 300px;
    margin: 3% 1%;
    padding: 1.5%;
    background-color: rgb(35, 55, 107);
    box-shadow: 0px 5px 5px rgb(17, 28, 55);
}

.skill-type {
    font-weight: 100;
    margin-bottom: 10%;
}

.skill-name {
    font-weight: 100;
    margin-bottom: 10%;
}

@media (max-width: 1750px) {
    .skill-head {
        font-size: 1.8em;
    }
}

@media (max-width: 1350px) {
    .skill-head {
        font-size: 1.5em;
    }
}

@media (max-width: 1200px) {
    .skill-block {
        padding: 3%;
    }

}

@media (max-width: 1100px) {
    .skill-head {
        margin-bottom: 5%;
    }

}

@media (max-width: 700px) {
    .skill-head {
        margin-bottom: 10%;
    }

    .skill-block {
        padding: 5%;
    }

}


@media (max-width: 600px) {
    .skill-head {
        margin-bottom: 15%;
    }

    .skill-block {
        margin-bottom: 15%;
        padding: 7%;
    }

}

@media (max-width: 450px) {
    .skill-head {
        margin-bottom: 20%;
    }

    .skill-block {
        margin-bottom: 15%;
        padding: 10%;
    }

}