<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Andrew Narlock Design Project</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/projectPages/navigation.css">
    <link rel="stylesheet" href="../styles/projectPages/projects.css">
    <link rel="stylesheet" href="../styles/home/app.css">
</head>

<body>
    <section class="navigation">
        <div class="nav-container">
            <div class="header-logo">
                <img src="../styles/pics/logos/ANDIconBlue.jpg" alt="AND Icon" class="nav-icon">
                <div class="header-text">Andrew Narlock Design</div>
            </div>

            <div class="links" id="linknav">
                <a href="../index.html" class="nav-item">HOME</a>
                <div class="container nav-item">
                    <p class="dropdown-title">PROJECTS</p>
                    <div class="item-container">
                        <a href="./projectSix.html" class="item-text">Front-End UI Library</a>
                        <a href="./projectOne.html" class="item-text">Gym Review App</a>
                        <a href="./projectTwo.html" class="item-text">Business Website Redesign</a>
                        <a href="./projectThree.html" class="item-text">Portfolio Design</a>
                        <a href="./projectFour.html" class="item-text">Wallframe Blueprint App</a>
                        <a href="./projectFive.html" class="item-text">UWT Newsletter Redesign</a>
                    </div>
                </div>
            </div>
            <div class="container-small response-icon">
                <div class="dropdown-title-small">
                    <p class="hamburger">_</p>
                    <p class="hamburger">_</p>
                    <p class="hamburger">_</p>
                </div>
                <div class="item-container-small">
                    <a href="../index.html" class="item-text-small">Home</a>
                    <a href="./projectSix.html" class="item-text-small">Front-End UI Library</a>
                    <a href="./projectOne.html" class="item-text-small">Gym Review App</a>
                    <a href="./projectTwo.html" class="item-text-small">Business Website Redesign</a>
                    <a href="./projectThree.html" class="item-text-small">Portfolio Design</a>
                    <a href="./projectFour.html" class="item-text-small">Wallframe Blueprint App</a>
                    <a href="./projectFive.html" class="item-text-small">UWT Newsletter Redesign</a>
                </div>
            </div>
        </div>
    </section>

    <section class="project">
        <div class="project-title">Local Business Website Redesign</div>
        <div class="project-content-container">
            <div class="project-block">
                <p class="project-text">This project was completed as a part of my Advanced Web Design course from the
                    University of Washington. The goal of the project was to implement user centered design strategies
                    in order to redesign a website for a local business. The project was completed by myself and three
                    classmates. The final version of the design can be seen <a href="https://care7.htsun.ds.lib.uw.edu/" target="_blank"
                    rel="noopener noreferrer">here!</a>
                </p>
                <img class="project-image" src="../styles/pics/projectTwo/projTwoOne.jpg" alt="">
            </div>
            <div class="project-block">
                <img class="project-image" src="../styles/pics/projectTwo/projTwoTwo.jpg" alt="">
                <p class="project-text">My team and I had the opportunity to meet with a representative from a local
                    organization who wanted to redesign a website for an online class that they were conducting. We
                    decided to focus on reorganizing the content and navigation to best suit the needs of the users. The
                    final design was built using WordPress.</p>
            </div>
            <div class="project-block">
                <p class="project-text">The final design consists of a four part course that is available for registered
                    users. It also provides a searchable library of every piece of content available in the course. The
                    library is color coded and designed to be accessable for users who are not familiar with navigating
                    through digital libraries.</p>
                <img class="project-image" src="../styles/pics/projectTwo/projTwoThr.jpg" alt="">
            </div>
            <div class="project-block">
                <img class="project-image" src="../styles/pics/projectTwo/projTwoFou.jpg" alt="">
                <p class="project-text">Continuity across pages was also a major focus for our design. The use of color
                    palletes and logos, provided by the business, made for a consistant design across every page and was
                    a major improvement to the website.</p>
            </div>
            <div class="project-block">
                <p class="project-text">Here is a shot of our first site map for the design. It was important to
                    consider content management strategies early on in the design process in order to minimize clutter
                    and only keep relevant content on each page.</p>
                <img class="project-image" src="../styles/pics/projectTwo/projTwoFiv.jpg" alt="">
            </div>
            <div class="project-block">
                <img class="project-image" src="../styles/pics/projectTwo/projTwoSix.jpg" alt="">
                <p class="project-text">This is a shot of one of our wireframes. Thinking about the layout of the
                    content allowed us to create interesting and bold designs for different pages. This wireframe, of the
                    landing page, shows one piece of the design process that allowed us to improve the users experience on
                    the website.</p>
            </div>
        </div>
    </section>

    <section class="footer">
        <div class="footer-text">2022 Designed by Andrew Narlock</div>
    </section>


    <script src="../scripts/navigation.js" async defer></script>
</body>

</html>
