<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Andrew Narlock Design Project</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/projectPages/navigation.css">
    <link rel="stylesheet" href="../styles/projectPages/projects.css">
    <link rel="stylesheet" href="../styles/home/app.css">
</head>

<body>
    <section class="navigation">
        <div class="nav-container">
            <div class="header-logo">
                <img src="../styles/pics/logos/ANDIconBlue.jpg" alt="AND Icon" class="nav-icon">
                <div class="header-text">Andrew Narlock Design</div>
            </div>

            <div class="links" id="linknav">
                <a href="../index.html" class="nav-item">HOME</a>
                <div class="container nav-item">
                    <p class="dropdown-title">PROJECTS</p>
                    <div class="item-container">
                        <a href="./projectSix.html" class="item-text">Front-End UI Library</a>
                        <a href="./projectOne.html" class="item-text">Gym Review App</a>
                        <a href="./projectTwo.html" class="item-text">Business Website Redesign</a>
                        <a href="./projectThree.html" class="item-text">Portfolio Design</a>
                        <a href="./projectFour.html" class="item-text">Wallframe Blueprint App</a>
                        <a href="./projectFive.html" class="item-text">UWT Newsletter Redesign</a>
                    </div>
                </div>
            </div>
            <div class="container-small response-icon">
                <div class="dropdown-title-small">
                    <p class="hamburger">_</p>
                    <p class="hamburger">_</p>
                    <p class="hamburger">_</p>
                </div>
                <div class="item-container-small">
                    <a href="../index.html" class="item-text-small">Home</a>
                    <a href="./projectSix.html" class="item-text-small">Front-End UI Library</a>
                    <a href="./projectOne.html" class="item-text-small">Gym Review App</a>
                    <a href="./projectTwo.html" class="item-text-small">Business Website Redesign</a>
                    <a href="./projectThree.html" class="item-text-small">Portfolio Design</a>
                    <a href="./projectFour.html" class="item-text-small">Wallframe Blueprint App</a>
                    <a href="./projectFive.html" class="item-text-small">UWT Newsletter Redesign</a>
                </div>
            </div>
        </div>
    </section>


    <section class="project">
        <div class="project-title">Portfolio Redesign</div>
        <div class="project-content-container">
            <div class="project-block">
                <p class="project-text">The main goal of this project is to create a portfolio that demonstrates the
                    different design and developement skills that I have been practicing. I have gone through several
                    iterations of my web design portfolio with the intent on implementing new concepts each time. The
                    first iteration was built using WordPress, during my Advanced Web Design course at the Univeristy of
                    Washington. The main focus on this design was to implement user centered web design strategies
                    learned from my classes. The old WordPress version can be seen <a
                    href="https://dev-andrew-narlock-webfolio.pantheonsite.io/" target="_blank" rel="noopener noreferrer">here!</a>
                </p>
                <img class="project-image" src="../styles/pics/projectThree/projThrTwo.jpg" alt="WordPress Design">
            </div>
            <div class="project-block">
                <img class="project-image" src="../styles/pics/projectThree/projThrOne.jpg"
                    alt="React Design Landing Image">
                <p class="project-text">The next iteration of my portfolio was built using React. I was introduced to
                    building websites from scratch using HTML, CSS, and JavaScript, and I wanted to build a website
                    using a popular JS library. I decided to use React to build this design as I thought it was a good
                    opportunity to get familiar with the library.</p>
            </div>
            <div class="project-block">
                <p class="project-text">This is another shot of some dropdown menus from my React portfolio. After
                    completing The Web Developer Bootcamp 2022 hosted on Udemy, I wanted to focus more on Front-End
                    developement and building out a portfolio that looked nice. I wanted to move away from React
                    for this project because I felt that the library was unessecary for the small scope of the project.
                    I also wanted to use Bootstrap as a CSS framework because I had learned it and it seemed
                    interesting.</p>
                <img class="project-image" src="../styles/pics/projectThree/projThrThr.jpg"
                    alt="React Design Dropdown Menus">
            </div>
            <div class="project-block">
                <img class="project-image" src="../styles/pics/projectThree/projThrFou.jpg" alt="">
                <p class="project-text">While the newer design was much less bloated than the React version, I did not
                    like being dependent on Bootstrap and I did not like the way it looked. This is a shot of the skills
                    and projects sections from my last design. The current design is a major improvement, in my opinion.
                    I decided to build my new portfolio completely from scratch with HTML, CSS, and JavaScript. It
                    allowed me to learn how to create custom components such as the dropdown menus, navigation bars, and
                    carousels. It was a great opportunity for implementing user centered design strategies and creating
                    a fully responsive website that is usable on any device.</p>
            </div>
        </div>
    </section>

    <section class="footer">
        <div class="footer-text">2022 Designed by Andrew Narlock</div>
    </section>


    <script src="../scripts/navigation.js" async defer></script>
</body>

</html>
