<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Andrew Narlock Design Project</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/projectPages/navigation.css">
    <link rel="stylesheet" href="../styles/projectPages/projects.css">
    <link rel="stylesheet" href="../styles/home/app.css">
</head>

<body>
    <section class="navigation">
        <div class="nav-container">
            <div class="header-logo">
                <img src="../styles/pics/logos/ANDIconBlue.jpg" alt="AND Icon" class="nav-icon">
                <div class="header-text">Andrew Narlock Design</div>
            </div>

            <div class="links" id="linknav">
                <a href="../index.html" class="nav-item">HOME</a>
                <div class="container nav-item">
                    <p class="dropdown-title">PROJECTS</p>
                    <div class="item-container">
                        <a href="./projectOne.html" class="item-text">Gym Review App</a>
                        <a href="./projectTwo.html" class="item-text">Business Website Redesign</a>
                        <a href="./projectThree.html" class="item-text">Portfolio Design</a>
                        <a href="./projectFour.html" class="item-text">Wallframe Blueprint App</a>
                        <a href="./projectFive.html" class="item-text">UWT Newsletter Redesign</a>
                    </div>
                </div>
            </div>
            <div class="container-small response-icon">
                <div class="dropdown-title-small">
                    <p class="hamburger">_</p>
                    <p class="hamburger">_</p>
                    <p class="hamburger">_</p>
                </div>
                <div class="item-container-small">
                    <a href="../index.html" class="item-text-small">Home</a>
                    <a href="./projectOne.html" class="item-text-small">Gym Review App</a>
                    <a href="./projectTwo.html" class="item-text-small">Business Website Redesign</a>
                    <a href="./projectThree.html" class="item-text-small">Portfolio Design</a>
                    <a href="./projectFour.html" class="item-text-small">Wallframe Blueprint App</a>
                    <a href="./projectFive.html" class="item-text-small">UWT Newsletter Redesign</a>
                </div>
            </div>
        </div>
    </section>

    <section class="project">
        <div class="project-title">UWT NewsLetter Redesign</div>
        <div class="project-content-container">
            <div class="project-block">
                <p class="project-text">This was my first web design project that I completed for my Advanced Web Design
                    course while attending the University of Washington. The goal of this project was to implement user
                    centered design and content management strategies to restructure and design an online alumni
                    newsletter titled <em>Junctions</em>. This is a shot of the original newsletter. This project was
                    completed by myself along with three classmates.</p>
                <img class="project-image" src="../styles/pics/projectFive/projFivOne.jpg" alt="">
            </div>
            <div class="project-block">
                <img class="project-image" src="../styles/pics/projectFive/projFivTwo.jpg" alt="">
                <p class="project-text">Here is a screenshot of the final landing page designed by my team. We used
                    WordPress to implement the designs that we came up with. The final product was a major improvement
                    from the original design.</p>
            </div>
            <div class="project-block">
                <p class="project-text">As a team, we restructured the layout of the content into pages that were easy
                    to navigate. Pages were broken up by the respective type of content that could be found on the
                    website, such as articles, information about the school, and contact pages. This restructuring was
                    also a major improvement to the continuity and user experience of the website.</p>
                <img class="project-image" src="../styles/pics/projectFive/projFivThr.jpg" alt="">
            </div>
            <div class="project-block">
                <img class="project-image" src="../styles/pics/projectFive/projFivFou.jpg" alt="">
                <p class="project-text">It was important to focus on engaging with potential users and implementing
                    calls to action, such as this contact section which allows users to connect with others through
                    different social media platforms.</p>
            </div>
            <div class="project-block">
                <p class="project-text">Here is a shot of a site map that was used to plan out how the content would be
                    divided across the website. This became am integral step in the design process that provided us with
                    an
                    established structure that we could follow.</p>
                <img class="project-image" src="../styles/pics/projectFive/projFivFiv.jpg" alt="">
            </div>
            <div class="project-block">
                <img class="project-image" src="../styles/pics/projectFive/projFivSix.jpg" alt="">
                <p class="project-text">Here is a shot of the first wireframe that I ever created. I was focused heavily
                    on breaking the content up into more exciting layouts compared to the original newsletter that was
                    built using only basic HTML. While this one is basic and outdated, wireframing became an incredibly
                    important step in the design process that allows me to consider different options for layouts and
                    navigation.</p>
            </div>
        </div>
    </section>

    <section class="footer">
        <div class="footer-text">2022 Designed by Andrew Narlock</div>
    </section>


    <script src="../scripts/navigation.js" async defer></script>
</body>

</html>