<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Andrew Narlock Design Project</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/projectPages/navigation.css">
    <link rel="stylesheet" href="../styles/projectPages/projects.css">
    <link rel="stylesheet" href="../styles/home/app.css">
</head>

<body>
    <section class="navigation">
        <div class="nav-container">
            <div class="header-logo">
                <img src="../styles/pics/logos/ANDIconBlue.jpg" alt="AND Icon" class="nav-icon">
                <div class="header-text">Andrew Narlock Design</div>
            </div>

            <div class="links" id="linknav">
                <a href="../index.html" class="nav-item">HOME</a>
                <div class="container nav-item">
                    <p class="dropdown-title">PROJECTS</p>
                    <div class="item-container">
                        <a href="./projectOne.html" class="item-text">Gym Review App</a>
                        <a href="./projectTwo.html" class="item-text">Business Website Redesign</a>
                        <a href="./projectThree.html" class="item-text">Portfolio Design</a>
                        <a href="./projectFour.html" class="item-text">Wallframe Blueprint App</a>
                        <a href="./projectFive.html" class="item-text">UWT Newsletter Redesign</a>
                    </div>
                </div>
            </div>
            <div class="container-small response-icon">
                <div class="dropdown-title-small">
                    <p class="hamburger">_</p>
                    <p class="hamburger">_</p>
                    <p class="hamburger">_</p>
                </div>
                <div class="item-container-small">
                    <a href="../index.html" class="item-text-small">Home</a>
                    <a href="./projectOne.html" class="item-text-small">Gym Review App</a><!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Andrew Narlock Design Project</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/projectPages/navigation.css">
    <link rel="stylesheet" href="../styles/projectPages/projects.css">
    <link rel="stylesheet" href="../styles/home/app.css">
</head>

<body>
    <section class="navigation">
        <div class="nav-container">
            <div class="header-logo">
                <img src="../styles/pics/logos/ANDIconBlue.jpg" alt="AND Icon" class="nav-icon">
                <div class="header-text">Andrew Narlock Design</div>
            </div>

            <div class="links" id="linknav">
                <a href="../index.html" class="nav-item">HOME</a>
                <div class="container nav-item">
                    <p class="dropdown-title">PROJECTS</p>
                    <div class="item-container">
                        <a href="./projectSix.html" class="item-text">Front-End UI Library</a>
                        <a href="./projectOne.html" class="item-text">Gym Review App</a>
                        <a href="./projectTwo.html" class="item-text">Business Website Redesign</a>
                        <a href="./projectThree.html" class="item-text">Portfolio Design</a>
                        <a href="./projectFour.html" class="item-text">Wallframe Blueprint App</a>
                        <a href="./projectFive.html" class="item-text">UWT Newsletter Redesign</a>
                    </div>
                </div>
            </div>
            <div class="container-small response-icon">
                <div class="dropdown-title-small">
                    <p class="hamburger">_</p>
                    <p class="hamburger">_</p>
                    <p class="hamburger">_</p>
                </div>
                <div class="item-container-small">
                    <a href="../index.html" class="item-text-small">Home</a>
                    <a href="./projectSix.html" class="item-text-small">Front-End UI Library</a>
                    <a href="./projectOne.html" class="item-text-small">Gym Review App</a>
                    <a href="./projectTwo.html" class="item-text-small">Business Website Redesign</a>
                    <a href="./projectThree.html" class="item-text-small">Portfolio Design</a>
                    <a href="./projectFour.html" class="item-text-small">Wallframe Blueprint App</a>
                    <a href="./projectFive.html" class="item-text-small">UWT Newsletter Redesign</a>
                </div>
            </div>
        </div>
    </section>

    <section class="project">
        <div class="project-title">Gym Review App</div>
        <div class="project-content-container">
            <div class="project-block">
                <p class="project-text">The goal of this project was to build a full stack web application by
                    implementing the techniques and tools that I have learned from The Web Developers Bootcamp
                    2022. The project was built using HTML, CSS, and Bootstrap for the Front-End. The server was built
                    using Node JS, Express, and Mongoose. I used MongoDB for the database and the app is hosted on
                    Heroku.</p>
                <img class="project-image" src="../styles/pics/projectOne/projOneOne.jpg" alt="">
            </div>
            <div class="project-block">
                <img class="project-image" src="../styles/pics/projectOne/projOneTwo.jpg" alt="">
                <p class="project-text">The app offers a responsive design and secure authentication that allows users
                    to create accounts and leave reviews for gyms that they visit. Geolocation and map APIs are
                    implemented via mapbox.</p>
            </div>
            <div class="project-block">
                <p class="project-text">Users are able to add new gyms, edit existing gym information (if the user is
                    the original creator of the gym) and leave reviews on existing gyms. A gym review page will show the
                    location and average score based on user data</p>
                <img class="project-image" src="../styles/pics/projectOne/projOneThr.jpg" alt="">
            </div>
            <div class="project-block">
                <img class="project-image" src="../styles/pics/projectOne/projOneFou.jpg" alt="">
                <p class="project-text">This project allowed me to practice building full stack web applications using a
                    modern tech stack. While the applicaiton is simple and has plenty of room for growth, the project
                    was a good opportunity for me to understand what is needed to build a full stack application. The
                    app can be found <a href="https://gentle-beyond-26534.herokuapp.com/" target="_blank"
                        rel="noopener noreferrer">here!</a></p>
            </div>
        </div>
    </section>

    <section class="footer">
        <div class="footer-text">2022 Designed by Andrew Narlock</div>
    </section>


    <script src="../scripts/navigation.js" async defer></script>
</body>

</html>
                    <a href="./projectTwo.html" class="item-text-small">Business Website Redesign</a>
                    <a href="./projectThree.html" class="item-text-small">Portfolio Design</a>
                    <a href="./projectFour.html" class="item-text-small">Wallframe Blueprint App</a>
                    <a href="./projectFive.html" class="item-text-small">UWT Newsletter Redesign</a>
                </div>
            </div>
        </div>
    </section>


    <section class="project">
        <div class="project-title">Gym Review App</div>
        <div class="project-content-container">
            <div class="project-block">
                <p class="project-text">The goal of this project was to build a full stack web application by
                    implementing the techniques and tools that I have learned from The Web Developers Bootcamp
                    2022. The project was built using HTML, CSS, and Bootstrap for the Front-End. The server was built
                    using Node JS, Express, and Mongoose. I used MongoDB for the database and the app is hosted on
                    Heroku.</p>
                <img class="project-image" src="../styles/pics/projectOne/projOneOne.jpg" alt="">
            </div>
            <div class="project-block">
                <img class="project-image" src="../styles/pics/projectOne/projOneTwo.jpg" alt="">
                <p class="project-text">The app offers a responsive design and secure authentication that allows users
                    to create accounts and leave reviews for gyms that they visit. Geolocation and map APIs are
                    implemented via mapbox.</p>
            </div>
            <div class="project-block">
                <p class="project-text">Users are able to add new gyms, edit existing gym information (if the user is
                    the original creator of the gym) and leave reviews on existing gyms. A gym review page will show the
                    location and average score based on user data</p>
                <img class="project-image" src="../styles/pics/projectOne/projOneThr.jpg" alt="">
            </div>
            <div class="project-block">
                <img class="project-image" src="../styles/pics/projectOne/projOneFou.jpg" alt="">
                <p class="project-text">This project allowed me to practice building full stack web applications using a
                    modern tech stack. While the applicaiton is simple and has plenty of room for growth, the project
                    was a good opportunity for me to understand what is needed to build a full stack application. The
                    app can be found <a href="https://gentle-beyond-26534.herokuapp.com/" target="_blank"
                    rel="noopener noreferrer">here!</a></p>
            </div>
        </div>
    </section>

    <section class="footer">
        <div class="footer-text">2022 Designed by Andrew Narlock</div>
    </section>


    <script src="../scripts/navigation.js" async defer></script>
</body>

</html>
