<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Andrew Narlock Design Project</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/projectPages/navigation.css">
    <link rel="stylesheet" href="../styles/projectPages/projects.css">
    <link rel="stylesheet" href="../styles/home/app.css">
</head>

<body>
    <section class="navigation">
        <div class="nav-container">
            <div class="header-logo">
                <img src="../styles/pics/logos/ANDIconBlue.jpg" alt="AND Icon" class="nav-icon">
                <div class="header-text">Andrew Narlock Design</div>
            </div>

            <div class="links" id="linknav">
                <a href="../index.html" class="nav-item">HOME</a>
                <div class="container nav-item">
                    <p class="dropdown-title">PROJECTS</p>
                    <div class="item-container">
                        <a href="./projectSix.html" class="item-text">Front-End UI Library</a>
                        <a href="./projectOne.html" class="item-text">Gym Review App</a>
                        <a href="./projectTwo.html" class="item-text">Business Website Redesign</a>
                        <a href="./projectThree.html" class="item-text">Portfolio Design</a>
                        <a href="./projectFour.html" class="item-text">Wallframe Blueprint App</a>
                        <a href="./projectFive.html" class="item-text">UWT Newsletter Redesign</a>
                    </div>
                </div>
            </div>
            <div class="container-small response-icon">
                <div class="dropdown-title-small">
                    <p class="hamburger">_</p>
                    <p class="hamburger">_</p>
                    <p class="hamburger">_</p>
                </div>
                <div class="item-container-small">
                    <a href="../index.html" class="item-text-small">Home</a>
                    <a href="./projectSix.html" class="item-text-small">Front-End UI Library</a>
                    <a href="./projectOne.html" class="item-text-small">Gym Review App</a>
                    <a href="./projectTwo.html" class="item-text-small">Business Website Redesign</a>
                    <a href="./projectThree.html" class="item-text-small">Portfolio Design</a>
                    <a href="./projectFour.html" class="item-text-small">Wallframe Blueprint App</a>
                    <a href="./projectFive.html" class="item-text-small">UWT Newsletter Redesign</a>
                </div>
            </div>
        </div>
    </section>


    <section class="project">
        <div class="project-title">Wallframe Blueprint App</div>
        <div class="project-content-container">
            <div class="project-block">
                <p class="project-text">The goal of this small project was to build an app that creates blueprints for a
                    standard wall frame given measurements provided by a user. I started this project when I was first
                    introduced to HTML, CSS and JavaScript and it provided me with a great opportunity to practice some
                    basic website building tools.</p>
                <img class="project-image" src="../styles/pics/projectFour/projFouOne.jpg" alt="">
            </div>
            <div class="project-block">
                <img class="project-image" src="../styles/pics/projectFour/projFouTwo.jpg" alt="">
                <p class="project-text">This project was my first experience working with user inputs and event
                    listeners in JavaScript. It was also my first time working with the Canvas API. The app allows for
                    users to add a movable door frame and provides an estimate for the amount of materials needed for a
                    given frame. The app can be found <a href="https://andrewnarlock.github.io/wallframebuilder/"
                    target="_blank" rel="noopener noreferrer">here!</a>
                </p>
            </div>

    </section>

    <section class="footer">
        <div class="footer-text">2022 Designed by Andrew Narlock</div>
    </section>


    <script src="../scripts/navigation.js" async defer></script>
</body>

</html>
