a {
    text-decoration: none;
    color: white;
}

.navigation {
    color: white;
    background-color: rgb(35, 55, 107);
    font-weight: 500;
    font-size: 1.3em;
}

.nav-container {
    display: flex;
    margin-left: 10%;
    width: 80%;
    align-items: center;
}

.header-logo {
    display: flex;
    align-items: center;
}

.nav-icon {
    border-radius: 50%;
    max-width: 100px;
    height: 100px;
    margin: 10px 0px 10px 0px;
}

.header-text {
    margin-left: 30px;
}

.links {
    margin-left: auto;
    display: flex;
    justify-content: space-evenly;
}

.nav-item {
    font-size: .8em;
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px 15px 10px 15px;
}

.nav-item:hover {
    background-color: #37679F;
}

.item-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    min-width: 141px;
    transform: translateY(25px) translateX(-15px);
    background: rgb(35, 55, 107);
    max-height: 0;
    transition: max-height 0.3s;
    overflow: hidden;
}

.item-text {
    padding: 10px 15px 10px 15px;
    font-weight: 100;
}

.item-text:hover {
    background: #37679F;
}

.item-container-small {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    width: 100%;
    transform: translateY(75px);
    background: rgb(35, 55, 107);
    max-height: 0;
    transition: max-height 0.3s;
    overflow: hidden;
}

.item-text-small {
    padding: 15px 15px 15px 30px;
    font-weight: 100;
    font-size: .8em;
}

.item-text-small:hover {
    background: #26486f;
}

.hamburger {
    font-size: 1.5em;
    transform: translateY(-15px);
    line-height: 30%;
}

.dropdown-title-small {
    padding: 10px 10px 5px 10px;
    border: 1px solid white;
    border-radius: 2px;
}

.dropdown-title-small:hover {
    background-color: #26486f;
}

.response-icon {
    display: none;
    margin-left: auto;
}


@media (max-width: 1300px) {
    .links {
        display: none;
    }

    .response-icon {
        display: flex;
    }
}

@media (max-width: 650px) {
    .navigation {
        font-size: 1em;
    }

    .dropdown-title-small {
        font-size: 1.3em;
    }
}

@media (max-width: 550px) {
    .header-logo {
        transform: translateX(-20px);
    }

    .header-text {
        margin-left: 10px;
    }
}

@media (max-width: 400px) {
    .header-text {
        font-size: .8em;
    }
}