.project {
    display: flex;
    flex-direction: column;
}

.project-title {
    text-align: center;
    padding: 50px;
    margin: 20px 0px 0px 0px;
    font-size: 2em;
    font-weight: 700;
}

.project-content-container {
    display: flex;
    flex-direction: column;
}

.project-block {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.project-text {
    color: white;
    line-height: 2.3em;
    font-weight: 100;
    font-size: 1.2em;
    background-color: rgb(35, 55, 107);
    max-width: 850px;
    padding: 90px 80px 90px 80px;
    margin: 50px 0px 50px 0px;
    box-shadow: 0px 5px 10px black;
}

.project-image {
    max-width: 33.5%;
    margin: 50px 0px 50px 0px;
    box-shadow: 0px 5px 10px black;
}

.footer-text {
    color: white;
    text-align: center;
    padding: 1% 0%;
    margin-top: 50px;
    background-color: rgb(35, 55, 107);
}

@media (max-width: 2200px) {
    .project-text {
        max-width: 750px;
        padding: 70px;
    }

    .project-image {
        max-width: 40%;
    }

}


@media (max-width: 1600px) {
    .project-text {
        max-width: 650px;
        padding: 60px;
        font-size: 1.1em;
        margin-top: 40px;
    }

    .project-image {
        max-width: 40%;
        margin-top: 40px;
    }

}


@media (max-width: 1450px) {
    .project-text {
        max-width: 650px;
        padding: 50px;
    }

    .project-image {
        max-width: 45%;
    }

}


@media (max-width: 1300px) {
    .project-block {
        flex-direction: column;
    }

    .project-text {
        max-width: 75%;
        padding: 40px;
        font-size: 1em;
        margin-top: 30px;
    }

    .project-image {
        max-width: 75%;
        margin-top: 30px;
    }

}

@media (max-width: 1000px) {
    .project-text {
        font-size: .8em;
    }

}



@media (max-width: 450px) {
    .footer-text {
        font-size: .7em;
    }

}