.nav-text {
    margin-left: auto;
}

.dropdown-menu {
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.222);
}

.navbar-brand:hover {
    cursor: default;
}

.dropdown-item {
    text-align: end;
}

.dropdown-item:hover {
    background-color: rgba(234, 234, 234, 0.994);
}

p {
    font-size: 1.3rem;
}

.pic-holder {
    box-shadow: inset 0px 0px 23px black;
}

.pic {
    width: 100%;
    max-height: 580px;
    box-shadow: 0px 0px 10px black;
    border: 1px solid rgba(0, 0, 0, 0.646);
    transition: transform 0.2s, outline 0.5s;
    margin: 0px 0px 50px 0px;
}

.captions {
    color: rgb(238, 238, 238);
    margin: 25px 0px;
}

@media(min-width: 992px) {
    .nav-text:nth-child(1) {
        margin-right: 50px;
    }
}

@media(min-width: 768px) {
    .pic-one:hover {
        transform: scale(2.4) translate(29%, 27%);
        outline: 100rem solid rgba(0, 0, 0, 0.646);
    }

    .pic-two:hover {
        transform: scale(2.4) translate(-29%, 27%);
        outline: 100rem solid rgba(0, 0, 0, 0.646);
    }

    .pic-thr:hover {
        transform: scale(2.4) translate(29%, -27%);
        outline: 100rem solid rgba(0, 0, 0, 0.646);
    }

    .pic-fou:hover {
        transform: scale(2.4) translate(-29%, -27%);
        outline: 100rem solid rgba(0, 0, 0, 0.646);
    }

    .pic-fiv:hover {
        transform: scale(2.3) translate(29%, -27%);
        outline: 100rem solid rgba(0, 0, 0, 0.646);
    }

    .pic-six:hover {
        transform: scale(2.3) translate(-29%, -27%);
        outline: 100rem solid rgba(0, 0, 0, 0.646);
    }

    .pic-Fouone:hover {
        transform: scale(2.4) translate(29%, -25%);
        outline: 100rem solid rgba(0, 0, 0, 0.646);
    }

    .pic-Foutwo:hover {
        transform: scale(2.4) translate(-29%, -25%);
        outline: 100rem solid rgba(0, 0, 0, 0.646);
    }
}
